{% extends 'base.html' %}
{% load static %}

{% block content %}
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
<link href="{% static 'css/login.css' %}" rel="stylesheet">
<div class="box-login">
  <img src="{% static 'images/logo-cadastro.jpg' %}">

  <p id="titulo">Entre com sua conta</p>
  <form method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Login">
  </form>

  <span>Não tem uma conta? <a href="{% url 'sign-up'%}">Crie seu cadastro aqui</a></span>
</div>
{% endblock %}