* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  background-color: #FFDAB9;
}

.box-login {
  width: 400px;
  height: 540px;
  background-color: white;
  /*border: 0.1px solid black;*/
  position: relative;
  left: 50%;
  transform: translate(-50%);
  top: 50px;
  border-radius: 20px;
  box-shadow: 6px 6px 8px gray;
}

.box-login img {
  width: 80%;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}


.box-login #titulo {
  text-align: center;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 30px;
}

.box-login input {
  width: 80%;
  height: 22px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  font-size: 18px;
  padding: 5px;
}

.box-login input:focus {
  outline: 0;
}

.box-login label {
  position: relative;
  left: 10%;
  font-family: arial;
}

.box-login #btn_entrar {
  text-decoration: none;
  font-family: roboto;
  padding: 8px 13px;
  position: relative;
  left: 70%;
  top: 20px;
  background-color: #ff7b3d;
  color: white;
  border-radius: 4px;
}

.box-login span {
  font-family: arial;
  font-size: 15px;
  position: relative;
  top: 70px;
  left: -15%;
}